name: Release

on:
  workflow_call:
    inputs:
      working-directory:
        description: 'Working directory'
        type: string
        default: '.'
    secrets:
      NPM_TOKEN:
        required: true
      SLACK_WEBHOOK:
        required: false

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: SylphxAI/actions/publish@v1
        with:
          npm-token: ${{ secrets.NPM_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          slack-webhook: ${{ secrets.SLACK_WEBHOOK }}
          working-directory: ${{ inputs.working-directory }}
