name: Release

on:
  workflow_call:
    inputs:
      build-command:
        description: 'Build command to run before publish'
        type: string
        default: ''
      working-directory:
        description: 'Working directory'
        type: string
        default: '.'
    secrets:
      NPM_TOKEN:
        required: true
      SLACK_WEBHOOK:
        required: false

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install
        working-directory: ${{ inputs.working-directory }}

      - name: Build
        if: inputs.build-command != ''
        run: ${{ inputs.build-command }}
        working-directory: ${{ inputs.working-directory }}

      - name: Publish
        uses: SylphxAI/actions/publish@v1
        with:
          npm-token: ${{ secrets.NPM_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          slack-webhook: ${{ secrets.SLACK_WEBHOOK }}
          build-command: ${{ inputs.build-command }}
          working-directory: ${{ inputs.working-directory }}
